/* Paste in code from your old files to save time and avoid typos! */

body {
	height:100vh;
	width:100vw;
	display: flex;
	flex-wrap:wrap;
	margin:0px;
}

.shoe1 {
	height: 30%;
	width: 100vw;
	display: block;
	background-color: #DB713B; 
}

.shoe2 {
	height: 50%;
	width: 60%;
	background-color: #E39B36;
	display: flex;
	margin:auto;
}

ul {
	height:5%;
	width:100%;
	list-style-type: none;
        margin: 0;
    	padding: 50;
    	overflow: hidden;
    	background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.column-1 {
	height:50%;
	width:calc(100%/3);
	background-color:green;
	display:flex;
	flex-wrap: wrap;
}


.column-2 {
	height:50%;
	width:calc(100%/3);
	background-color:red;
	display:flex;
	flex-wrap: wrap;
}


.column-3 {
	height:50%;
	width:calc(100%/3);
	background-color:yellow;
	display:flex;
	flex-wrap: wrap;
}

.row{
	width:70%;
	height: 100%;
	background-color:white;
	display:flex;
	flex-wrap:wrap;
	margin:auto;
}




@media screen and (max-width:800px) {
        .shoe1 {
		height:50vh;
		width:100vw;
	}
	.shoe2 {
		height:50vh;	
		width:100vw;
		display:block;
	}
	.shoe3{ 
		height:8%;
		width: 100%;
	    	position:fixed;
	}

	.column-1 {
		height:30%;
		width:100%;
		background-color:green;
		display:block;
	
	}


	.column-2 {
		height:30%;
		width:100%;
		background-color:red;
		display:block;
	
	}


	.column-3 {
		height:30%;
		width:100%;
		background-color:yellow;
		display:block;
	
	}
}
