/* Paste in code from your old files to save time and avoid typos! */

body {
	height:100vh;
	width:100vw;
	display: flex;
	flex-wrap:wrap;
}

.shoe1 {
	height: 100vh;
	width: 100vw;
	display: block;
	background-color: #DB713B; 
}

.shoe2 {
	height: 100vh;
	width: 100vw;
	background-color: #E39B36;
	
}

.shoe3 {
	height: 10%;
	width: 100%;
	background-color: #120D08;
	position:fixed;
}

.shoe4 {
	height: 20%;
	width: 18%;
	background-color: green;
	margin: auto;
}

.shoe5 {
	height: 20%;
	width: 18%;
	background-color: red;

}

.shoe6 {
	height: 20%;
	width: 18%;
	background-color: orange;
	position: absolute;
	
}












@media screen and (max-width:800px) {
        .shoe1 {
			height:50vh;
			width:100vw;
		}
		.shoe2 {
			height:50vh;
			width:100vw;
		}
		.shoe3{ 
		height:8%;
		width: 100%;
	    position:fixed;
}
